
.tab-buttons{
  $height-tab : 40px ; 
  display: flex;
  flex-shrink: 0 ;
  width: 100% ;
  flex-direction: row ;
  box-shadow: rgb(0 0 0 / 15%) 0px 5px 5px ;
  .tab {
    position: relative;
    display: inline-flex;
    flex : 1 ; 
    height : $height-tab; 
    align-items: center ;
    justify-content: center ;
    border-radius: 0 ;
    border : 0 ; 
    background-color: #8c49f8;
    color:#bfa0f8 ; 
    cursor: pointer;
    letter-spacing: -.5px ;
    &.active {
      color:#fff ; 
      font-weight: 700 ;
      &:after {
        content :"" ; 
        display: inline-flex;
        position: absolute;
        left : 0 ; bottom: 0 ; right : 0 ; 
        height : 4px ; 
        background-color: #fff;
      }
    }
  }
}


.tab-contents{
  display: flex;
  flex-direction: column ;
  flex : 1 1 auto ;
  overflow-y:auto ; 
  height: 0 ;
  padding: 10px ; 

  &::-webkit-scrollbar {
    width: 10px;
  }
   
  &::-webkit-scrollbar-track {
    background: #eeeeee;
    border-radius: 5px;
  }
   
  &::-webkit-scrollbar-thumb {
    // background: linear-gradient(#c2e59c, #64b3f4);
    background: rgb(136, 136, 136) ;
    border-radius: 5px;
  }

}