
.todoListWrap{
  display: flex;
  flex-direction: column ;
  width: 100% ;
  gap:5px ; 
  .item {
    position: relative;
    display: flex;
    flex-shrink: 0 ;
    align-items: center ;
    gap:10px; 
    padding:10px 60px 10px 10px; 
    height:56px ;
    border: 1px solid #d7d7d7; 
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
    background-color: #fff;
    border-radius: 4px ;
    .check {
      display: inline-flex;
      align-items: center ;
      input {
        width: 16px; height: 16px ;
        cursor: pointer;
      }
      button {
        display: inline-flex;
        width: 16px; height: 16px ;
        text-indent: -9999em; font-size: 0 ;
        border : 0 ; 
        background-color: transparent;
        cursor: pointer;
        &.active {
          // background-color: red ;
        }
      }
    }
    .title {
      display: inline-flex;
      flex : 1 ;  
      height: 100% ; 
      align-items: center ;
      font-size:14px ; 
    }

    &.done {
      background-color: #f5f5f5;
      .title {
        color:#afafaf ; 
      }
    }

    .btns{
      display: flex;
      gap: 10px ;
      position: absolute;
      right: 10px ; 
      top:50% ; 
      transform: translateY( -50% );
      button {
        background-color:transparent ; 
        border:0; 
        outline: 0 ;
        font-size:15px ; 
        color:rgb(48, 48, 48) ; 
        opacity: 0.2 ;
        transition: all .4s ;
        cursor: pointer;
      }
    }
    &:hover {
      .btns {
        button {
          opacity: 1 ;
        }
      }
    }

    .modify{
      display: flex;
      height: 100% ;
      gap:5px;
      position: absolute;
      left : 10px ; right: 10px; top: 0; 
      align-items: center ;
      background-color: #fff;
      button {
        display: flex;
        align-items: center ;
        justify-content: center ;
        width:  24px ; height : 36px ; 
        border :0; 
        background-color: transparent ;
        cursor: pointer;
      }
    }
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}