
.todoListWrap{
  display: flex;
  flex-direction: column ;
  width: 100% ;
  gap:5px ; 
  .item {
    display: flex;
    flex-shrink: 0 ;
    align-items: center ;
    gap:10px; 
    padding:10px ; 
    height:56px ;
    border: 1px solid #d7d7d7; 
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
    background-color: #fff;
    border-radius: 4px ;
    .check {
      display: inline-flex;
      align-items: center ;
      input {
        width: 16px; height: 16px ;
        cursor: pointer;
      }
    }
    .title {
      display: inline-flex;
      align-items: center ;
      font-size:14px ; 
    }

    &.done {
      background-color: #f5f5f5;
      .title {
        color:#afafaf ; 
      }
    }
  }
}