html, body { height: 100% ; overflow: hidden !important ;}
#app { width: 100% ; height:100% ; }
body { background-color: #f1f5f9 ; }
.wrap {
  width : 100% ; height : 100% ;
  display: flex;
  flex-direction: row ;
  .aside {
    flex-basis : 200px ; 
  } 
  .container {
    display: flex;
    flex-direction: column ;
    flex : 1 ; 
    .header {
      display: flex;
      flex : 0 0 60px ; 
    }
    .content{
      display: grid;
      flex : 1 ; 
      grid-template-columns: 1fr 380px ; 
      grid-template-rows: 1fr 260px ; 
      grid-column-gap: 20px;
      grid-row-gap: 20px;
      height: 100% ;
      overflow: hidden ;
      padding: 40px ; 
      > section.section {
        position: relative;
        flex : 1 ; 
        gap:20px; 
        h1 {
          font-size:24px ; 
        }
        .bx{
          height: 100% ;
          @include flex() ; 
          background: #fff;
          border: 1px solid rgba(0,0,0,.12);
          border-radius: 6px;
          padding:20px ;
          flex-grow:1; 
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06) ;
          &.scroll {
            overflow-y:auto ;
            scroll-behavior: smooth;

            &::-webkit-scrollbar{
              width: 6px;
            }
            &::-webkit-scrollbar-thumb{
              height: 17%;
              background-color: #b6b6b6;
              border-radius: 10px;    
            }
            &::-webkit-scrollbar-track{
              background-color: rgba(0,0,0,0);
            }
          }
          > div {
            padding: 30px 0 ;
            border-top:1px solid #eee ; 
            &:first-child {
              padding-top: 0 ;
              border-top:0 ; 
            }
          }
        }

        &.options {
          flex-grow:1; 
          grid-column: 2 / 3 ;
          grid-row: 1 / 3 ; 
          height: 100% ;
          h2 {
            flex : 0 0 auto ; 
          }
          .bx-white{
            flex : 1 1 0 ;
          }
          
        }
        &.view {
          grid-column: 1 / 2 ;
          grid-row: 1 / 2 ; 
          // grid-row: 1 / -1 ; 
        }
        &.code {
          // grid-row: 1 / -1 ; 
        }
      }
      .section {
        @include flex()  ;
      }
    }
    .footer {
      display: flex;
      flex : 0 0 60px ; 
    }
  }
}






// #################### OLD ####################
.wrap_old{
  display: flex;
  height: 100% ;
  .container {
    display: flex;
    width: 100% ;
    flex-direction: column ;
    > div {
      flex : 1; 
    }

    > .view {
      display: flex;
      align-items: center ;
      justify-content: center ;
      min-height: 500px ;
      .target {
        box-sizing: content-box;
        background-color: rgb(145, 152, 182);
      }
      .btn-code-view{
        position: fixed ; 
        right:10px; top:10px; 
        padding:2px 5px; 
      }
      .codeWrap{
        display: flex;
        flex-direction: column ;
        gap:5px ; 
        width: 400px ;
        position: fixed ; 
        right:10px; top:50px; 
        border : 1px solid #333; 
        padding:10px; 
        background-color: #fff;
        border-radius: 4px ;
        textarea {
          background-color: #f9f9f9; 
          padding:10px ; 
          font-family: consolas, Arial, Helvetica, sans-serif ; 
          font-size:12px ; 
          line-height:1.5 ; 
        }
      }
    }
    > .control {
      display: flex;
      flex-direction: column;
      background-color: #f9f9f9;

      .v-tabs{
        flex: 0 1 48px ;
      }

      .v-window{
        flex : 1 1 auto ; 

        .v-window__container{
          height: 100% ;
          .v-window-item{
            height: 100% ;
            .v-card{
              display: flex;
              height: 100% ;
              justify-content: center ;
            }
          }
        }
      }
    }
  }
}

.v-slide-group__content{
  justify-content: center ;
}

.bx-control {
  max-width: 500px ;
  width: 100% ;
  padding: 10px ; 
  .item {
    &:not(:last-child) {
      margin-bottom: 10px ;
    }
    .v-messages__message{
      text-align: right ;
      letter-spacing: -.5px ;
    }
    .v-text-field .v-label--active {
      transform-origin: top left;
    }

    &.disabled {
      opacity: 0.5 ;
      pointer-events: none ;
    }
  }
}

.v-dialog__content{
  .v-dialog{
    .v-card{
      .v-card__text{
        padding: 20px ; 

        pre {
          font-size:12px ; 
          font-family: consolas ;
        }
      }
    }
  }
}